@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lato', 'sans-serif';
    color: #fff;
}

main {
    padding-top: 0em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    justify-content: center;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*----------------HEADER----------------*/

#title {
    font-weight: 700;
    margin-bottom: 0;
}

/*----------------FORM------------------*/

#survey-form {
    background: rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 15px;
    width: 100%;
}

.form-group {
    display: grid;
    padding-bottom: 1em;
}

.label-text, p {
    font-weight: 700;
}

.input-text{
    border: none;
    border-radius: 4px;
    height: 28px;
    width: 100%;
    margin-top: 1em;
    padding-left: 10px;
}

select {
    border: none;
    border-radius: 4px;
    height: 28px;
    width: 100%;
    padding-left: 10px;
    color: #69696a;
}

textarea {
    height: 80px;
    font-family: 'Lato', 'sans-serif';
    padding-left: 10px;
    padding-top: 5px;
}

#submit {
    border: none;
    height: 35px;
    border-radius: 4px;
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
    background-color: rgb(84, 189, 84);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover{
    background-color: rgb(78, 170, 78);
}
